<!-- /snippetss/newsletter-form-checkboxes.liquid -->

{%- liquid
  assign style = style | default: 'btn--soft'
  assign color = color | default: 'btn--secondary'
  assign translation = 'general.newsletter_form.submit' | t
  assign text = text | default: translation
  assign class = 'newsletter--default-messages'
  assign unique = unique | default: 'custom-newsletter' 

   
  if success_text != blank
    assign class = ''
  endif
-%}

{% if unique %}
  {% form 'customer', id: unique, data-newsletter-form: '', class: class %}
    {% if content != blank %}
      {{ content }}
    {% endif %}

    {% if success_text != blank %}
      <p class="newsletter__message newsletter__message--success">{{ success_text | newline_to_br }}</p>

      <p class="newsletter__message newsletter__message--error">
        <em>{{ 'general.newsletter_form.error_message' | t }}</em>
      </p>
    {% else %}
      {% if form.posted_successfully? %}
        <p>
          <em>{{ 'general.newsletter_form.subscribed' | t }}</em>
        </p>
      {% elsif form.errors %}
        {% for field in form.errors %}
          <p>
            <em>{{ field }} - {{ form.errors.messages[field] }}</em>
          </p>
        {% endfor %}
      {% endif %}
    {% endif %}

    <input type="hidden" name="contact[tags]" value="newsletter">
    <input type="hidden" name="contact[accepts_marketing]" value="true">
    <div class="input-group newsletter-form">
    
      <input class="input-group-field" type="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" id="mail-{{ unique }}" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" name="contact[email]" data-newsletter-field>
      
      <span class="stay-connected-btn">
        <button
          type="submit"
          class="{{ style }} {{ color }} stay-connected__form"
          name="subscribe"
          aria-label="{{ text }}"
          id="subscribe-{{ unique }}"
          disabled
        >
          {%- if show_icon -%}
            {%- render 'icon-arrow-right-long' -%}
            {%- render 'icon-check-slim' -%}
          {%- else -%}
            {{ text }}
          {%- endif -%}
        </button>
      </span>
    </div>
    <div class="newsletter__checkboxes">
      <p class="warning_text">I'm interested in <br />(select at least one)</p>
      <label><input class="stay-connected__check" type="checkbox" name="interest" value="Art" data-newsletter-field> &ensp;Art</label><br>
      <label><input class="stay-connected__check" type="checkbox" name="interest" value="Blog" data-newsletter-field> &ensp;Blog</label><br>
      <label><input class="stay-connected__check" type="checkbox" name="interest" value="Sustainability" data-newsletter-field> &ensp;Sustainability</label><br>
    </div>
  {% endform %}
{% endif %}
<p>I respect your privacy. I hate spam. <strong>No unexpected emails, ever.</strong></p>

    <script>

        const submitButton = document.querySelector('.stay-connected__form');
        const checkboxes = document.querySelectorAll('.stay-connected__check');
        const buttonWrapper = document.querySelector('.stay-connected-btn');
      
        function validateCheckbox() {
            const checkedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);

            // Check if at least one checkbox is checked
            let atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

            // Enable or disable the "Submit" button based on the validation result
            atLeastOneChecked ? submitButton.removeAttribute("disabled") : submitButton.setAttribute("disabled", "");
            atLeastOneChecked ? submitButton.style = 'background-color: #EC5306;' : submitButton.style = 'background-color: #999;' ;
          
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', validateCheckbox);          
        });
      

    </script>