
<div class="shopify-section section-section">
  <div class="search-bar">
    <div class="wrapper search">
      <div class="helper-text">
        Looking for something specific
      </div>
      <div>
          <label for="search"></label>
          <input type="search" id="search" placeholder="Type to search" data-search>
      </div>
    </div>
  </div>
  <h2 class="custom-header wrapper">Articles by Topic</h2>
  <div class="wrapper posts">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
    
        {%- when 'blog-selector' -%}
          {%- assign blog-block = block.settings.blog-block -%}
        <div class="custom-blog">
          
          <h3 class="custom-blog-title">{{ blog-block.title }}</h3>
          {%- assign blog-block_articles = blog-block.articles -%}
          {%- for article in blog-block_articles -%}
            <a class="custom-blog-article-link" href="{{ article.url }}" data-year="{{ article.published_at | slice:0,4 }}">  
              <p class="custom-blog-article">{{ article.title }}</p>
            </a>
          {%- endfor -%}
          <div class="read-more-box">
            <a class="read-more-link" href="#">more about {{ blog-block.title }}</a>
          </div>
        </div>
      {%- endcase -%}
    {%- endfor -%}
      </div>
  </div>

<div class="selector-wrapper">
<div class="wrapper">
  <h2 class="custom-header">Articles by Date</h2>
  
<div class="filter-block">
      <h4 class="selector">Select year</h4>
    <div class="filter-selector-block">
      {% assign currentYear = "now" | date: "%Y" %}
      {% for i in (2021..currentYear) %}
        <button href="#" class="year-button" data-year="{{ i }}">{{ i }}</button>
      {% endfor %}
      </div>
      </div>
  <div class="results-section">
    {% liquid 
        assign dateheader = '<h3 class="date-filter"></h3>'
        assign selectedYear = 2023
        assign blog_handles = "Sustainability,Art,About" | split: ","
    %}
    {{ dateheader }} 

        {% for article in blog-block.articles %}
          {% assign publishedYear = article.published_at | date: "%Y" %}
            
            <div class="year-article-block">
              <a class="year-article" href="{{article.url}}">
              <div class="year-blog-month">{{ article.published_at | date: "%B" }}</div>
              <div class="year-blog-title">{{ article.title }}</div>
              <i class="fa-solid fa-chevron-right year-blog-icon accordion-title"></i>
              </a>
            </div>
            
        {% endfor %}

  </div>
</div>
</div>


{% javascript %}


function searchFunction() {
  var input = document.getElementById('search');
  var filter = input.value.toUpperCase();
  var posts = document.getElementsByClassName('custom-blog');

  for (var i = 0; i < posts.length; i++) {
    var title = posts[i].getElementsByClassName('custom-blog-title')[0];
    var articleLinks = posts[i].getElementsByClassName('custom-blog-article-link');

    // Check if the title or any article contains the search filter
    if (title.innerText.toUpperCase().indexOf(filter) > -1) {
      posts[i].style.display = '';
    } else {
      var foundMatch = false;

      for (var j = 0; j < articleLinks.length; j++) {
        var article = articleLinks[j].getElementsByClassName('custom-blog-article')[0];
        if (article.innerText.toUpperCase().indexOf(filter) > -1) {
          foundMatch = true;
          break;
        }
      }

      if (foundMatch) {
        posts[i].style.display = '';
      } else {
        posts[i].style.display = 'none';
      }
    }
  }
}

// Bind the search function to the input's keyup event
var searchInput = document.getElementById('search');
searchInput.addEventListener('keyup', searchFunction);

const filterDate = document.querySelector(".date-filter")

function setupFilterButtons() {
  const filterButtons = document.querySelectorAll('.year-button');
  const blocks = document.querySelectorAll('.custom-blog-article-link');

  filterButtons.forEach(button => {
    button.addEventListener('click', function() {
      const filterValue = button.getAttribute('data-year');

      filterDate.innerText = filterValue;

      // Show/hide blocks based on filter value
      blocks.forEach(block => {
        if (block.getAttribute('data-year') === filterValue) {
          block.style.color = 'black';
        } else {
          block.style.color = '#ccc';
        }
      });

      // Toggle active class on clicked button
      filterButtons.forEach(btn => {
        btn.classList.remove('active');
      });
      button.classList.add('active');
    });
  });
}

// Call the function to set up filter buttons
setupFilterButtons();
  
{% endjavascript %}


{% style %}
  :root {   
  --custom-margin : 36px;
  }

  .year-article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #1d519c;  
  }
  
  .year-blog-month {
    width: 105px;
    font-size: 14px;
    margin-block: 20px;
  }
  .year-blog-title {
    font-weight: 600;
    font-size: 16px;
  }

  .year-blog-icon {
    margin-left: auto;
  }
  .wrapper.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper.search > * {
    margin: 0;
  }
  .wrapper.search::after {
    display: none;
  }
  .helper-text {
    color: white;
    text-transform: uppercase;
    margin-inline: 20px;
  }
  .search-bar {
    background-color: #1D519C;
    height: fit-content;
    width: 100%;
  }
  .selector-wrapper {
    background-color: #DAE9FD;
    margin-bottom: 0;
  }

  .filtered {
    border: 3px solid red;
  }
  .filter-selector-block {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
  }
  .selector {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;

    
  }
  .year-button {
    padding: 6px 26px;
    border: 2px solid #1D519C;
    color: #1D519C;
    font-weight: 600;
    font-size: 12px;
  }
  
  .wrapper.posts {
    display: flex;
    flex-wrap: wrap;
  }
  .custom-blog {
    flex: 0 1 calc(50% - 2 * (var(--custom-margin)));
    column-gap: var(--custom-margin);
    margin-inline: 36px;
    margin-bottom: 72px;
    
  }
  .custom-blog-title {
    text-transform: uppercase;
    margin-bottom: 36px;
    
  }
  .custom-blog-title, .custom-blog-article {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #1D519C;
    padding-bottom: 16px;
  }
  
  .custom-blog-article {
    font-weight: 600;
  }
  .read-more-link {
    font-size: 14px;
    color: #1D519C;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid #1D519C;
    border-radius: 6px;
    padding: 14px 40px;
    letter-spacing: 0.25px;
    display: inline-block;
    margin: 0 40px 0 0;
  }


  .custom-header {
    padding-bottom: 1rem;
  position: relative;
  margin-bottom: 72px;
  }

.custom-header::after {
  content: "";
  height: 3px;
  width: 130px;
  background: #1D519C;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.results-section {
  margin-block: 40px;
}
.results-section h3 {
  color: #1D519C;
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width:699px) {
  .custom-blog {
    flex: 1 0 calc(100% - var(--custom-margin));
    margin-inline: 0;
  }
  
  .custom-blog:nth-child(4) {
    display: none;
  }
  .custom-blog-article {
    padding: 14px 10px;
  }
}
{% endstyle %}

{% schema %}
  {
  "name": "blog-list",
  "class": "blog-list",
  "max_blocks": 8,
  "settings": [],
  "blocks": [
    {
      "name": "blog-selector",
      "type": "blog-selector",
      "settings": [
        {
          "type": "blog",
          "id": "blog-block",
          "label": "blog-block",
          "info": "place the blog here that you want to display"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "blog-list"
    }
  ]
}  
{% endschema %}

