<!-- /sections/product.liquid -->

{%- liquid
  assign thumbs_align = section.settings.align
  assign ratio = product.media[0].preview_image.aspect_ratio
  if ratio < 1
    assign thumbs_align = 'center'
  endif
-%}

<div
  class="product-section {{ section.settings.bg }}"
  data-product-handle="{{ product.handle }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-video-looping="{{ section.settings.enable_video_looping }}"
  data-thumbs-align="{{ thumbs_align }}"
  data-enable-history-state="true"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;"
>
  {%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="{{ section.settings.width }} section-padding">
  <div class="product-content">
    <div class="grid" style="gap:100px">
      <div class="grid__item medium-up--hide">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              {% render 'product-title-price', product: product, block: block, section: section, classes: 'product__headline--mobile' %}
          {% endcase %}
        {% endfor %}
      </div>

      <div class="grid__item medium-up--two-thirds">

        {% if product.media.size > 0 %}
          {% if product.media.size > 1 %}
            <div data-product-slideshow="{{ product.handle }}"
              data-custom-scrollbar-items
              class="product__slides flickity-lock-height flickity-disabled-mobile"
              style="--default-ratio: {{ 1 | divided_by: product.media[0].aspect_ratio | times: 100 | at_most: 100 }}%">
          {% else %}
            <div class="product__slides product__slides--single">
          {% endif %}
            {% for media in product.media %}
              {% render 'media', media: media, section: section %}
            {% endfor %}
          </div>

          {% if product.media.size > 1 %}
            <div class="custom-scrollbar small-down--show" data-custom-scrollbar>
              <div class="custom-scrollbar__track" data-custom-scrollbar-track></div>
            </div>
          {% endif %}
        {% else %}
          <div class="product__image__placeholder"></div>
        {% endif %}

        {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
        {% if first_3d_model %}
          <button
            class="btn btn--ar uppercase"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title | strip_html | escape }}"
            data-shopify-xr-hidden>
            {% render 'icon-media-model' %}
            <span>{{ 'products.product.view_in_space' | t }}</span>
          </button>
        {% endif %}

        <noscript>
          {% for image in product.media %}
            <img src="{{ image.preview_image | img_url: '900x' }}" alt="{{ image.alt | default: product.title | strip_html | escape }}">
          {% endfor %}
        </noscript>

        {% if product.media.size > 1 %}
          <div data-product-thumbs class="media__thumb__wrapper small-down--hide">
            {% for media in product.media %}
              {% assign alt_text = media.alt | strip_html | escape %}
              {% assign alt_text_parts = alt_text | split: '#' %}
              {% assign alt_text_option = '' %}
              {% if alt_text contains '#' %}
                {% assign alt_text_option = alt_text_parts | last %}
              {% endif %}

              {% comment %} <div class="media__thumb"
                data-slideshow-thumbnail
                data-media-select="{{ media.id }}"
                aria-label="{{ alt_text_parts | first }}"
                data-image-filter="{{ alt_text_option }}">
                <img alt="{{ media.alt | strip_html | escape }}" src="{{ media.preview_image.src | img_url: '200x200', crop: 'center' }}" width="200" height="200" loading="lazy">
                {%- if media.media_type == 'model' -%}
                  {% render 'icon-media-model' %}
                {%- elsif media.media_type contains 'video' -%}
                  {% render 'icon-media-video' %}
                {%- endif -%}
              </div> {% endcomment %}

            {% endfor %}
          </div>
            <div class="custom_share_product">
              <span>SHARE</span>
              <a href="" target="_blank"><svg width="22" height="22" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 0.333252C4.03417 0.333252 0 4.36742 0 9.33325C0 10.9294 0.437747 12.419 1.1678 13.7194L0.0145211 17.8365C-0.00390363 17.9024 -0.00473612 17.9719 0.0121066 18.0382C0.0289493 18.1045 0.0628788 18.1653 0.110512 18.2144C0.158145 18.2635 0.217818 18.2992 0.28358 18.3181C0.349343 18.3369 0.418897 18.3382 0.485309 18.3218L4.77819 17.2579C6.03964 17.9314 7.47101 18.3333 9 18.3333C13.9658 18.3333 18 14.2991 18 9.33325C18 4.36742 13.9658 0.333252 9 0.333252ZM9 1.11586C13.5429 1.11586 17.2174 4.79039 17.2174 9.33325C17.2174 13.8761 13.5429 17.5506 9 17.5506C7.54357 17.5506 6.17953 17.1709 4.99372 16.5074C4.90699 16.459 4.80507 16.4453 4.70864 16.4692L0.949219 17.4008L1.95729 13.8042C1.97171 13.7534 1.97569 13.7002 1.96899 13.6478C1.9623 13.5953 1.94505 13.5448 1.91831 13.4993C1.19766 12.2773 0.782609 10.8555 0.782609 9.33325C0.782609 4.79039 4.45714 1.11586 9 1.11586ZM5.7297 4.6376C5.47886 4.6376 5.12063 4.73092 4.82634 5.04801C4.64958 5.23847 3.91304 5.9561 3.91304 7.21776C3.91304 8.53314 4.82533 9.66815 4.93563 9.81398H4.9364V9.81474C4.92593 9.80099 5.0764 10.0189 5.27726 10.2802C5.47811 10.5415 5.75898 10.8846 6.11184 11.2561C6.81754 11.9992 7.80976 12.8579 9.04127 13.3831C9.6084 13.6246 10.0558 13.7704 10.3948 13.8768C11.023 14.0741 11.5952 14.0441 12.025 13.9808C12.3467 13.9334 12.7005 13.7789 13.0506 13.5574C13.4007 13.3358 13.7438 13.0603 13.8951 12.6418C14.0035 12.3417 14.0586 12.0644 14.0785 11.8362C14.0885 11.7221 14.0898 11.6214 14.0824 11.5282C14.0749 11.435 14.0829 11.3636 13.996 11.221C13.8138 10.9219 13.6075 10.9141 13.3922 10.8075C13.2726 10.7483 12.9321 10.582 12.5905 10.4193C12.2493 10.2567 11.9539 10.1127 11.772 10.0478C11.6571 10.0065 11.5167 9.94695 11.3142 9.96989C11.1117 9.99282 10.9117 10.1389 10.7953 10.3115C10.6849 10.4751 10.2406 10.9996 10.1051 11.1537C10.1033 11.1526 10.1151 11.1581 10.0616 11.1316C9.89404 11.0487 9.68915 10.9782 9.38595 10.8182C9.08276 10.6583 8.70349 10.4221 8.28847 10.0562V10.0555C7.67075 9.51167 7.23806 8.8289 7.10156 8.59956C7.11076 8.58862 7.10047 8.60187 7.1199 8.58274L7.12067 8.58198C7.26017 8.44457 7.38381 8.28046 7.48828 8.1601C7.6364 7.98946 7.70177 7.83903 7.77259 7.69849C7.91372 7.41838 7.83514 7.11015 7.75348 6.94798V6.94721C7.75912 6.95843 7.70931 6.84853 7.65566 6.72175C7.60185 6.59462 7.53326 6.42979 7.46 6.25402C7.31349 5.90249 7.14992 5.50822 7.05265 5.27729V5.27653C6.93806 5.00452 6.78302 4.80856 6.58033 4.71403C6.37764 4.61949 6.19857 4.64637 6.19132 4.64601H6.19056C6.04591 4.63933 5.88719 4.6376 5.7297 4.6376ZM5.7297 5.42021C5.88057 5.42021 6.0293 5.42205 6.15387 5.42785C6.28202 5.43424 6.27405 5.43476 6.24941 5.42326C6.22437 5.41159 6.25834 5.4078 6.33118 5.5807C6.42643 5.80682 6.59081 6.20252 6.73777 6.55514C6.81125 6.73145 6.88003 6.89692 6.93495 7.0267C6.98988 7.15647 7.01964 7.22893 7.05418 7.29801V7.29878L7.05494 7.29954C7.08881 7.36635 7.08581 7.32358 7.07405 7.34692C6.99147 7.51081 6.98027 7.55105 6.89674 7.64728C6.76956 7.7938 6.63983 7.95719 6.57116 8.02483C6.51108 8.08384 6.40269 8.17579 6.335 8.35575C6.26722 8.536 6.29885 8.7833 6.40761 8.96793C6.5524 9.21375 7.02955 9.99037 7.77106 10.6432C8.23804 11.0549 8.67309 11.3273 9.02063 11.5106C9.36818 11.694 9.65125 11.8011 9.71459 11.8324C9.865 11.9068 10.0294 11.9646 10.2205 11.9417C10.4117 11.9187 10.5765 11.8028 10.6814 11.6841L10.6821 11.6834C10.8218 11.5251 11.2366 11.0514 11.4357 10.7594C11.4442 10.7623 11.4414 10.76 11.5076 10.7838V10.7846H11.5083C11.5385 10.7954 11.9169 10.9647 12.2542 11.1255C12.5916 11.2862 12.934 11.4533 13.0453 11.5084C13.2058 11.5878 13.2817 11.6396 13.3013 11.6398C13.3026 11.6742 13.304 11.7115 13.299 11.7682C13.2853 11.9254 13.2433 12.1429 13.1591 12.3758C13.1179 12.4898 12.9033 12.7249 12.6326 12.8963C12.3618 13.0676 12.0323 13.1886 11.9103 13.2066C11.5434 13.2606 11.1078 13.2803 10.6294 13.1301C10.2977 13.026 9.88408 12.8912 9.34851 12.6632C8.26232 12.1999 7.33914 11.4117 6.67969 10.7173C6.34996 10.3702 6.08578 10.047 5.89784 9.80251C5.71025 9.55848 5.62834 9.43149 5.56004 9.34166L5.55927 9.34089C5.43804 9.18057 4.69565 8.14793 4.69565 7.21776C4.69565 6.23333 5.15289 5.84729 5.40031 5.5807C5.5302 5.44075 5.6722 5.42021 5.7297 5.42021Z" fill="#EC5306"/>
</svg>
</i></a>
              <a href="" target="_blank"><svg width="22" height="22" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.31814 0.333496C2.386 0.333496 0 2.71951 0 5.65168V13.0153C0 15.9475 2.386 18.3335 5.31814 18.3335H12.6817C15.6138 18.3335 17.9998 15.9475 17.9998 13.0153V5.65168C17.9998 2.71951 15.6138 0.333496 12.6817 0.333496H5.31814ZM5.31814 1.15168H12.6817C15.1716 1.15168 17.1817 3.16175 17.1817 5.65168V13.0153C17.1817 15.5052 15.1716 17.5153 12.6817 17.5153H5.31814C2.82823 17.5153 0.818175 15.5052 0.818175 13.0153V5.65168C0.818175 3.16175 2.82823 1.15168 5.31814 1.15168ZM13.909 3.60622C13.692 3.60622 13.4839 3.69242 13.3304 3.84586C13.177 3.9993 13.0908 4.20741 13.0908 4.42441C13.0908 4.6414 13.177 4.84951 13.3304 5.00295C13.4839 5.15639 13.692 5.24259 13.909 5.24259C14.126 5.24259 14.3341 5.15639 14.4875 5.00295C14.6409 4.84951 14.7271 4.6414 14.7271 4.42441C14.7271 4.20741 14.6409 3.9993 14.4875 3.84586C14.3341 3.69242 14.126 3.60622 13.909 3.60622ZM8.99992 4.8335C6.51951 4.8335 4.49996 6.85306 4.49996 9.3335C4.49996 11.8139 6.51951 13.8335 8.99992 13.8335C11.4803 13.8335 13.4999 11.8139 13.4999 9.3335C13.4999 6.85306 11.4803 4.8335 8.99992 4.8335ZM8.99992 5.65168C11.0382 5.65168 12.6817 7.29524 12.6817 9.3335C12.6817 11.3718 11.0382 13.0153 8.99992 13.0153C6.96168 13.0153 5.31814 11.3718 5.31814 9.3335C5.31814 7.29524 6.96168 5.65168 8.99992 5.65168Z" fill="#EC5306"/>
</svg>
</a>
              <a href="" target="_blank"><svg width="23" height="20" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5156 0.333496C10.3638 0.333496 8.61386 2.08338 8.61386 4.23524C8.61386 4.36454 8.64618 4.49104 8.65884 4.61754C5.99814 4.36314 3.64527 3.0813 2.04717 1.12059C1.97267 1.02642 1.85742 0.975821 1.73654 0.984255C1.61707 0.992688 1.51025 1.06156 1.45122 1.16557C1.11529 1.74324 0.922733 2.40805 0.922733 3.12206C0.922733 3.98646 1.23195 4.77777 1.70984 5.42712C1.61707 5.38636 1.51587 5.36387 1.42873 5.31468C1.31769 5.25565 1.18416 5.25846 1.07594 5.32311C0.96771 5.38777 0.901649 5.50443 0.900244 5.62952V5.67449C0.900244 6.99991 1.58615 8.15103 2.59814 8.85661C2.58689 8.8552 2.57565 8.85942 2.56441 8.85661C2.44072 8.83552 2.31562 8.87909 2.2327 8.97326C2.14977 9.06743 2.12307 9.19815 2.15961 9.31762C2.56159 10.5671 3.58764 11.5215 4.85825 11.8701C3.84626 12.4716 2.67263 12.8258 1.40624 12.8258C1.13216 12.8258 0.869322 12.8118 0.607891 12.7808C0.439226 12.7583 0.277589 12.8567 0.221367 13.017C0.16374 13.1772 0.226989 13.3557 0.37176 13.4442C1.99516 14.4857 3.92216 15.0971 5.99393 15.0971C9.35177 15.0971 11.9858 13.6944 13.7525 11.6901C15.5193 9.68587 16.4399 7.08283 16.4399 4.65127C16.4399 4.54867 16.4315 4.44888 16.4287 4.34768C17.0879 3.84309 17.6768 3.25137 18.1378 2.55985C18.2292 2.42632 18.2193 2.24782 18.1139 2.12414C18.0099 2.00045 17.8342 1.9625 17.688 2.03137C17.5025 2.1143 17.2861 2.12273 17.0921 2.18879C17.3479 1.84725 17.5672 1.479 17.6993 1.06437C17.7443 0.922412 17.6951 0.766398 17.5784 0.673634C17.4617 0.582274 17.2987 0.57103 17.1708 0.648334C16.5566 1.01237 15.8763 1.26817 15.1581 1.42418C14.4609 0.77202 13.5431 0.333496 12.5156 0.333496ZM12.5156 1.05313C13.4335 1.05313 14.2627 1.44527 14.8432 2.0651C14.9304 2.15506 15.0583 2.19301 15.1806 2.1663C15.65 2.07354 16.0956 1.9372 16.5299 1.76151C16.2797 2.09884 15.9705 2.38697 15.6078 2.60483C15.4434 2.68494 15.3661 2.87469 15.4265 3.04757C15.4856 3.21904 15.6655 3.31883 15.844 3.27948C16.2038 3.23591 16.5242 3.08973 16.8672 2.99837C16.5594 3.33148 16.2221 3.63227 15.8552 3.89791C15.7554 3.971 15.7006 4.08906 15.709 4.21275C15.7147 4.35892 15.7203 4.50369 15.7203 4.65127C15.7203 6.90011 14.8573 9.34151 13.2128 11.2066C11.5683 13.0718 9.15359 14.3775 5.99393 14.3775C4.55887 14.3775 3.20393 14.0599 1.9797 13.5005C3.49769 13.3838 4.8976 12.8469 6.02766 11.96C6.14573 11.8658 6.19211 11.7084 6.14432 11.5651C6.09653 11.4217 5.96441 11.3233 5.81402 11.3191C4.62774 11.298 3.63402 10.6079 3.10413 9.63246C3.12381 9.63246 3.14068 9.63246 3.16036 9.63246C3.51596 9.63246 3.86734 9.58748 4.19483 9.49753C4.35225 9.45114 4.46048 9.30497 4.45486 9.14052C4.44924 8.97608 4.33258 8.83552 4.17235 8.80038C2.8919 8.54177 1.93191 7.49887 1.70984 6.20297C2.07247 6.32806 2.44353 6.42645 2.84551 6.4391C3.00996 6.44894 3.15895 6.34634 3.20955 6.19032C3.26015 6.03431 3.1983 5.86284 3.05916 5.77569C2.20459 5.20364 1.64237 4.22961 1.64237 3.12206C1.64237 2.71165 1.74919 2.33496 1.88975 1.97515C3.68884 3.94991 6.20757 5.26127 9.05239 5.40463C9.16483 5.41026 9.27446 5.36387 9.34755 5.27814C9.42064 5.19099 9.44875 5.07574 9.42345 4.96611C9.36863 4.73279 9.3335 4.48542 9.3335 4.23524C9.3335 2.47271 10.7531 1.05313 12.5156 1.05313Z" fill="#EC5306"/>
</svg>
</a>
              <a href="" target="_blank"><svg width="20" height="21" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.57143 9.76207L4.40001 6.9335L4.65715 7.19064L1.82858 10.0192C0.550429 11.2974 0.550429 13.3696 1.82858 14.6478C3.10672 15.9259 5.17901 15.9259 6.45715 14.6478L9.28573 11.8192L9.54287 12.0764L6.7143 14.9049C5.29413 16.3251 2.99159 16.3251 1.57143 14.9049C0.151269 13.4848 0.151269 11.1822 1.57143 9.76207ZM14.1714 6.9335L11.3429 9.76207L11.6 10.0192L14.4286 7.19064C15.8488 5.77048 15.8488 3.46794 14.4286 2.04778C13.0084 0.62762 10.7059 0.62762 9.28573 2.04778L6.45715 4.87635L6.7143 5.1335L9.54287 2.30492C10.821 1.02678 12.8933 1.02678 14.1714 2.30492C15.4496 3.58307 15.4496 5.65535 14.1714 6.9335ZM9.92858 6.29064L5.81429 10.4049L6.07144 10.6621L10.1857 6.54778L9.92858 6.29064Z" fill="#EC5306"/>
<path d="M4.40001 6.9335L4.59286 6.74064L4.40001 6.54778L4.20715 6.74064L4.40001 6.9335ZM4.65715 7.19064L4.85001 7.3835L5.04286 7.19064L4.85001 6.99778L4.65715 7.19064ZM9.28573 11.8192L9.47858 11.6264L9.28573 11.4335L9.09287 11.6264L9.28573 11.8192ZM9.54287 12.0764L9.73573 12.2692L9.92858 12.0764L9.73573 11.8835L9.54287 12.0764ZM11.3429 9.76207L11.15 9.56921L10.9572 9.76207L11.15 9.95492L11.3429 9.76207ZM11.6 10.0192L11.4072 10.2121L11.6 10.4049L11.7929 10.2121L11.6 10.0192ZM9.28573 2.04778L9.47858 2.24064L9.28573 2.04778ZM6.45715 4.87635L6.26429 4.6835L6.07144 4.87635L6.26429 5.06921L6.45715 4.87635ZM6.7143 5.1335L6.52144 5.32635L6.7143 5.51921L6.90715 5.32635L6.7143 5.1335ZM9.54287 2.30492L9.73573 2.49778L9.54287 2.30492ZM5.81429 10.4049L5.62144 10.2121L5.42858 10.4049L5.62144 10.5978L5.81429 10.4049ZM9.92858 6.29064L10.1214 6.09778L9.92858 5.90492L9.73573 6.09778L9.92858 6.29064ZM6.07144 10.6621L5.87858 10.8549L6.07144 11.0478L6.26429 10.8549L6.07144 10.6621ZM10.1857 6.54778L10.3786 6.74064L10.5714 6.54778L10.3786 6.35492L10.1857 6.54778ZM4.20715 6.74064L1.37857 9.56921L1.76429 9.95492L4.59286 7.12635L4.20715 6.74064ZM4.85001 6.99778L4.59286 6.74064L4.20715 7.12635L4.46429 7.3835L4.85001 6.99778ZM2.02143 10.2121L4.85001 7.3835L4.46429 6.99778L1.63572 9.82635L2.02143 10.2121ZM2.02143 14.4549C0.849798 13.2833 0.849798 11.3837 2.02143 10.2121L1.63572 9.82635C0.251059 11.211 0.251059 13.456 1.63572 14.8406L2.02143 14.4549ZM6.26429 14.4549C5.09266 15.6266 3.19307 15.6266 2.02143 14.4549L1.63572 14.8406C3.02038 16.2253 5.26535 16.2253 6.65001 14.8406L6.26429 14.4549ZM9.09287 11.6264L6.26429 14.4549L6.65001 14.8406L9.47858 12.0121L9.09287 11.6264ZM9.73573 11.8835L9.47858 11.6264L9.09287 12.0121L9.35001 12.2692L9.73573 11.8835ZM6.90715 15.0978L9.73573 12.2692L9.35001 11.8835L6.52144 14.7121L6.90715 15.0978ZM1.37857 15.0978C2.90525 16.6245 5.38048 16.6245 6.90715 15.0978L6.52144 14.7121C5.20779 16.0257 3.07794 16.0257 1.76429 14.7121L1.37857 15.0978ZM1.37857 9.56921C-0.1481 11.0959 -0.1481 13.5711 1.37857 15.0978L1.76429 14.7121C0.450639 13.3984 0.450639 11.2686 1.76429 9.95492L1.37857 9.56921ZM11.5357 9.95492L14.3643 7.12635L13.9786 6.74064L11.15 9.56921L11.5357 9.95492ZM11.7929 9.82635L11.5357 9.56921L11.15 9.95492L11.4072 10.2121L11.7929 9.82635ZM14.2357 6.99778L11.4072 9.82635L11.7929 10.2121L14.6214 7.3835L14.2357 6.99778ZM14.2357 2.24064C15.5494 3.55429 15.5494 5.68413 14.2357 6.99778L14.6214 7.3835C16.1481 5.85682 16.1481 3.3816 14.6214 1.85492L14.2357 2.24064ZM9.47858 2.24064C10.7922 0.92699 12.9221 0.92699 14.2357 2.24064L14.6214 1.85492C13.0948 0.328251 10.6195 0.328251 9.09287 1.85492L9.47858 2.24064ZM6.65001 5.06921L9.47858 2.24064L9.09287 1.85492L6.26429 4.6835L6.65001 5.06921ZM6.90715 4.94064L6.65001 4.6835L6.26429 5.06921L6.52144 5.32635L6.90715 4.94064ZM9.35001 2.11207L6.52144 4.94064L6.90715 5.32635L9.73573 2.49778L9.35001 2.11207ZM14.3643 2.11207C12.9796 0.72741 10.7347 0.727411 9.35001 2.11207L9.73573 2.49778C10.9074 1.32615 12.807 1.32615 13.9786 2.49778L14.3643 2.11207ZM14.3643 7.12635C15.749 5.7417 15.749 3.49672 14.3643 2.11207L13.9786 2.49778C15.1502 3.66941 15.1502 5.56901 13.9786 6.74064L14.3643 7.12635ZM6.00715 10.5978L10.1214 6.4835L9.73573 6.09778L5.62144 10.2121L6.00715 10.5978ZM6.26429 10.4692L6.00715 10.2121L5.62144 10.5978L5.87858 10.8549L6.26429 10.4692ZM9.99287 6.35492L5.87858 10.4692L6.26429 10.8549L10.3786 6.74064L9.99287 6.35492ZM9.73573 6.4835L9.99287 6.74064L10.3786 6.35492L10.1214 6.09778L9.73573 6.4835Z" fill="#EC5306"/>
</svg>
</a>
            </div>

        {%- endif -%}
      </div>

      <div class="grid__item medium-up--one-third">
        <div class="product__form__wrapper">
          {% for block in section.blocks %}
            {% case block.type %}
              {%- when '@app' -%}
                {% render block %}
              {% when 'title' %}
                {% render 'product-title-price', product: product, block: block, section: section, classes: 'product__headline--desktop' %}
              {% when 'form' %}
                <div class="product__details">
                  {% render 'product-form', product: product, block: block, section: section %}
                </div>
              {% when 'description' %}
                <div class="product-description rte rte--column accordion-neighbor" {{ block.shopify_attributes }}>
                  {%- assign product_description_content = product.description | strip -%}
                  {%- assign truncate_string = 'products.general.read_more' | t -%}
                  {%- assign truncate_html = '<button type="button" class="p underline" data-truncated-button>' | append: truncate_string | append: '</button>' -%}

                  {%- if block.settings.style == 'none' -%}
                    {% if block.settings.read_more %}
                      <div class="product-description__holder product-description__holder--truncate" data-truncated-holder>
                        <div class="product-description__inner">
                          <div class="product-description__content" data-truncated-content="product-description__content--truncate">
                            {{ product_description_content }}
                          </div>
                        </div>

                        <div class="product-description__actions">
                          {{ truncate_html }}
                        </div>
                      </div>
                    {% else %}
                      {{ product.description }}
                    {% endif %}
                  {% else %}
                    <div class="tabs-wrapper">
                      {% render 'product-tabs', section: section, block: block, product: product, product_description_content: product_description_content, truncate_html: truncate_html %}
                    </div>
                  {%- endif -%}
                </div>
              {% when 'sharing' %}
                {% render 'share' product: product, label: block.settings.share_label, block: block %}
              {% when 'pickup' %}
                <div class="product__pickup accordion-neighbor" data-store-availability-container="{{ current_variant.id }}" {{ block.shopify_attributes }}></div>
              {% when 'text' %}
                <div class="product__subheading product__subheading--rte" {{ block.shopify_attributes }}>
                  {% if block.settings.title != '' %}
                    {{ block.settings.title }}
                  {% endif %}
                </div>
              {% when 'liquid' %}
                <div {{ block.shopify_attributes }}>
                  {{ block.settings.custom_liquid }}
                </div>
              {% when 'upsell' %}
                <div {{ block.shopify_attributes }}>
                  {%- assign upsell_product = all_products[block.settings.product] -%}
                  {% render 'upsell-product' upsell_product: upsell_product, block: block, section: section %}
                </div>

              {% when 'complimentary' %}
                <div {{ block.shopify_attributes }}>
                  <div class="complimentary__wrapper js-unloaded" data-product-complimentary-loaded>
                    <product-complimentary data-url="{{ routes.product_recommendations_url }}?section_id=api-product-upsell-item&product_id={{ product.id }}&limit={{ block.settings.complimentary_list_limit }}&intent=complementary">
                    </product-complimentary>
                  </div>
                </div>
              {% when 'siblings' %}
                {% render 'product-siblings', block: block, product: product %}
              {% when 'icon' %}
                <div class="product__text-with-icon rte" {{ block.shopify_attributes }}>
                  <div class="icon-holder" style="--stroke: {{ block.settings.icon_color }};">
                    {%- render 'icons', filename: block.settings.icon_name -%}
                  </div>

                  <p>{{ block.settings.text | remove: '<p>' | remove: '</p>' }}</p>
                </div>
              {% when 'image' %}
                <div class="product__image {{ block.settings.alignment }}" {{ block.shopify_attributes }}>
                  <div class="product__image__inner" style="max-width: {{ block.settings.image_max_limit | append: 'px' }};">
                    {%- if block.settings.image != blank -%}
                      {%- render 'image-fit' img_object: block.settings.image -%}
                    {%- else -%}
                      {%- render 'image-fill' img_object: '' -%}
                    {%- endif -%}
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

    {%- if section.blocks.size > 0 and section.settings.tabs_position == 'below' -%}
      <div class="tabs-wrapper productTabsWrapper">
        {% render 'product-tabs', section: section, product: product %}
      </div>
    {%- endif -%}
  </div>
</div>

{% if section.settings.zoom_enable %}
  {% render 'zoom-pswp' %}
{% endif %}

<script type="application/json" id="ModelJson-{{ section.id }}">
  {{ product.media | where: 'media_type', 'model' | json }}
</script>


</div>

{%- assign current_variant = product.selected_or_first_available_variant -%}

{% comment %} Google wants to know when to check your price again {% endcomment %}
{%- assign days_price_is_valid = 1 -%}
{%- assign seconds_in_a_day = 86400 -%}
{%- assign seconds_price_valid = days_price_is_valid | times: seconds_in_a_day -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.featured_media.preview_image -%}
      {%- assign image_size = product.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.featured_media.preview_image | img_url: image_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    "sku": {{ current_variant.sku | json }},
    "category": {{ product.type | json }},
    {%- if product.metafields.reviews.rating.value != blank -%}
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ product.metafields.reviews.rating.value }}",
        "ratingCount": "{{ product.metafields.reviews.rating_count.value }}",
        "bestRating": "{{ product.metafields.reviews.rating.value.scale_max }}",
        "worstRating": "{{ product.metafields.reviews.rating.value.scale_min }}"
      },
    {%- endif -%}
    "brand": {
      "@type": "Organization",
      "name": {{ product.vendor | default: shop.name | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: seconds_price_valid | date: '%Y-%m-%d' }}",
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "select",
      "id": "bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        {"value": "palette--light bg--neutral", "label": "Default"},
        {"value": "palette--light bg--accent", "label": "Light"},
        {"value": "palette--dark bg--invert", "label": "Dark"},
        {"value": "palette--dark bg--invert--accent", "label": "Dark accent"}
      ]
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        {"value": "wrapper--full", "label": "Full width padded"},
        {"value": "wrapper", "label": "Page width"},
        {"value": "wrapper--narrow", "label": "Page width narrow"}
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "form",
      "name": "Form",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "variant_form",
          "label": "Variant option style",
          "default": "auto",
          "options": [
            {"value": "auto", "label": "Auto"},
            {"value": "button", "label": "Buttons"},
            {"value": "dropdown", "label": "Dropdown"}
          ]
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity selection",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_remaining",
          "label": "Show inventory countdown",
          "default": true,
          "info": "Count down the last 10 items in stock."
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Lets customers check out directly using a familiar payment method. [Learn More](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "header",
          "content": "Subscriptions",
          "info": "Learn more about [subscriptions](https://help.shopify.com/en/manual/products/subscriptions)"
        },
        {
          "type": "checkbox",
          "id": "subscriptions_enable_selectors",
          "label": "Enable subscription selectors",
          "info": "Shown on products with subscription options",
          "default": true
        },
        {
          "type": "header",
          "content": "Size popup"
        },
        {
          "id": "info_page",
          "type": "page",
          "label": "Select page",
          "info": "This popup will show on every product."
        }
      ]
    },
    {
      "type": "description",
      "name": "Product description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "read_more",
          "label": "Enable read more",
          "default": true,
          "info": "Show the first few lines of the product description with an option to read more"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Tab style",
          "default": "accordions",
          "options": [
            {"value": "none", "label": "None"},
            {"value": "tabs", "label": "Tabs"},
            {"value": "accordions", "label": "Accordions"}
          ],
          "info": "Add tab content below. Lean more about [product tabs](https://groupthought.com/link/story/docs/tabs)"
        },
        {
          "type": "select",
          "id": "description_icon",
          "label": "Description icon",
          "default": "",
          "options": [
            {"value": "", "label": "No icon"},
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Tab heading",
          "default": "Information"
        },
        {
          "type": "select",
          "id": "icon_name_1",
          "label": "Icon",
          "default": "",
          "options": [
            {"value": "", "label": "No icon"},
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_1",
          "label": "Tab text",
          "default": "<p>This content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Tab heading",
          "default": "Details"
        },
        {
          "type": "select",
          "id": "icon_name_2",
          "label": "Icon",
          "default": "",
          "options": [
            {"value": "", "label": "No icon"},
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_2",
          "label": "Tab text",
          "default": "<p>You can use product metafields to assign content to this tab that is unique to an individual product.  Use tabs to highlight unique features, sizing information, or other sales information.</p>"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Tab heading"
        },
        {
          "type": "select",
          "id": "icon_name_3",
          "label": "Icon",
          "default": "",
          "options": [
            {"value": "", "label": "No icon"},
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_3",
          "label": "Tab text"
        },
        {
          "type": "text",
          "id": "title_4",
          "label": "Tab heading"
        },
        {
          "type": "select",
          "id": "icon_name_4",
          "label": "Icon",
          "default": "",
          "options": [
            {"value": "", "label": "No icon"},
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_4",
          "label": "Tab text"
        },
        {
          "type": "text",
          "id": "title_5",
          "label": "Tab heading"
        },
        {
          "type": "select",
          "id": "icon_name_5",
          "label": "Icon",
          "default": "",
          "options": [
            {"value": "", "label": "No icon"},
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_5",
          "label": "Tab text"
        }
      ]
    },
    {
      "type": "upsell",
      "name": "Upsell",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "paragraph",
          "content": "Upsell is best as a one-click add to cart, so upsell products should have no variants.  Upsell products with variants will open a quick-view window. [Learn more](https://groupthought.com/link/story/docs/upsell/variant)"
        },
        {
          "type": "header",
          "content": "Upsell in cart"
        },
        {
          "type": "paragraph",
          "content": "Use a dynamic source with the metafield name 'theme.upsell' to allow product upsells to follow users into the cart. Use any other name to limit this feature to the product page. [Learn more](https://groupthought.com/link/story/docs/upsell/cart)"
        }
      ]
    },
    {
      "type": "siblings",
      "name": "Siblings",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Siblings allow you to split colors into separate products. [Learn more](https://groupthought.com/link/story/docs/siblings)"
        },
        {
          "type": "text",
          "id": "siblings_collection",
          "label": "Product siblings collection handle",
          "info": "Use a metafield containing a collection handle for color siblings.  The collection should contain all color options as unique products."
        },
        {
          "type": "text",
          "id": "cutline",
          "label": "Product color metafield",
          "info": "Use a single line text metafield called 'theme.cutline' for product color."
        }
      ]
    },
    {
      "type": "sharing",
      "name": "Sharing",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "Text",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https://help.shopify.com/en/manual/online-store/images/showing-social-media-thumbnail-images)."
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image. [Learn more](https://help.shopify.com/en/manual/promoting-marketing/seo/adding-keywords#set-a-title-and-description-for-your-online-store)."
        }
      ]
    },
    {
      "type": "pickup",
      "name": "Local pickup",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title and price",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 1,
          "max": 15,
          "step": 1,
          "default": 7
        },
        {
          "type": "checkbox",
          "id": "product_show_vendor",
          "label": "Show vendor",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "product_show_cutline",
          "label": "Show cutline",
          "default": true
        },
        {
          "type": "header",
          "content": "Star rating",
          "info": "Requires a product review app like [Shopify Product Reviews](https://apps.shopify.com/product-reviews) to create [standard metafields](https://shopify.dev/apps/metafields/definitions/standard-definitions) for star ratings."
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Enable star rating",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_rating_count",
          "label": "Show rating count",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_name",
          "label": "Icon",
          "default": "icon-award",
          "options": [
            {"value": "icon-animal", "label": "Animal"},
            {"value": "icon-animal-paw", "label": "Animal paw"},
            {"value": "icon-award", "label": "Award"},
            {"value": "icon-basket-like", "label": "Basket like"},
            {"value": "icon-basket-return", "label": "Basket return"},
            {"value": "icon-cart-check", "label": "Cart check"},
            {"value": "icon-cart-message", "label": "Cart message"},
            {"value": "icon-chat", "label": "Chat"},
            {"value": "icon-dollar", "label": "Dollar"},
            {"value": "icon-earth", "label": "Earth"},
            {"value": "icon-email", "label": "Email"},
            {"value": "icon-gluten-free", "label": "Gluten free"},
            {"value": "icon-iron", "label": "Iron"},
            {"value": "icon-leaf", "label": "Leaf"},
            {"value": "icon-legal", "label": "Legal"},
            {"value": "icon-lock-card", "label": "Lock card"},
            {"value": "icon-lock-shield", "label": "Lock shield"},
            {"value": "icon-lock-window", "label": "Lock window"},
            {"value": "icon-payment", "label": "Payment"},
            {"value": "icon-phone", "label": "Phone"},
            {"value": "icon-rating", "label": "Rating"},
            {"value": "icon-star-rating", "label": "Rating star"},
            {"value": "icon-recycled", "label": "Recycled"},
            {"value": "icon-ruler", "label": "Ruler"},
            {"value": "icon-send", "label": "Send"},
            {"value": "icon-sewing-machine", "label": "Sewing machine"},
            {"value": "icon-share", "label": "Share"},
            {"value": "icon-shipment-world", "label": "Shipment world"},
            {"value": "icon-shipment", "label": "Shipment"},
            {"value": "icon-shoes", "label": "Shoes"},
            {"value": "icon-store", "label": "Store"},
            {"value": "icon-support-headphones", "label": "Support headphones"},
            {"value": "icon-thread", "label": "Thread"},
            {"value": "icon-truck", "label": "Truck"},
            {"value": "icon-washer", "label": "Washer"},
            {"value": "icon-water", "label": "Water"}
          ]
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "default": "#4F8BF2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Icon text</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_max_limit",
          "min": 5,
          "max": 500,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 120
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "product__image--left",
          "options": [
            {"value": "product__image--left", "label": "Left"},
            {"value": "product__image--center", "label": "Center"},
            {"value": "product__image--right", "label": "Right"}
          ]
        }
      ]
    },
    {
      "type": "complimentary",
      "name": "Complimentary products",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "From [Search & Discovery](https://apps.shopify.com/search-and-discovery)"
        },
        {
          "type": "paragraph",
          "content": "Once the app is installed you can [create complimentary products](/admin/apps/search-and-discovery/product-recommendations/new) that are unique to each product."
        },
        {
          "type": "paragraph",
          "content": "Complimentary products with variants will open a quick-view window. [Learn more](https://groupthought.com/link/story/docs/upsell/complimentary)."
        },
        {
          "type": "range",
          "id": "complimentary_list_limit",
          "label": "Product limit",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
        }
      ]
    }
  ]
}
{% endschema %}
